<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
    <p th:text="'id: ' + ${employee.id}" />
    <p th:text="'firstname: ' + ${employee.firstname}" />
    <p th:text="'lastname: ' + ${employee.lastname}" />
    <a href="/form">Submit another employee</a>
</body>
</html>